{% extends 'base.html' %} {% load static %} {% block content %}

<body>
  <div class="container main-secction mt-2">
    <div class="row">
      <div class="col-md-3 offset-4 image-section">
        <div class="text-center">
          {% if profile.banner %}
          <img src="{{profile.banner.url}}" class="img-fluid" />{% else %}
          <img src="{% static 'img/default_banner.png' %}" />
          {% endif %}
        </div>
      </div>

      <div class="row user-left-part">
        <div class="col-md-3 col-sm-3 col-xs-12 user-profil-part pull-left">
          <div class="row">
            <div
              class="col-md-12 col-md-12-sm-12 col-xs-12 user-image text-center"
            >
              {% if profile.picture %}
              <!-- prettier-ignore -->
              <img src="{{profile.picture.url}}" class="rounded-circle" />
              {% else %}
              <img
                src="{% static 'img/default_pfp.png' %}"
                class="rounded-circle"
              />
              {% endif %}
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
              {% if profile.user != request.user %}<a
                class="btn btn-success btn-block text-white mt-2"
                href="{% url 'new-conversation' profile.user.username %}"
              >
                Send Message
              </a>
              {% else %}
              <a
                class="btn btn-warning btn-block mt-2"
                style="color: white"
                href="{% url 'edit-profile' %}"
                >Edit Profile</a
              >
              {% endif %}
            </div>
          </div>
        </div>
        <div
          class="col-md-9 col-sm-9 col-xs-12 pull-right profile-right-section"
        >
          <div class="row profile-right-section-row">
            <div class="col-md-12 profile-header">
              <div class="row">
                <div
                  class="col-md-8 col-sm-6 col-xs-6 profile-header-section1 pull-left"
                >
                  {% if profile.full_name %}
                  <h1>{{profile.full_name}}</h1>
                  {% endif %}

                  <h5>@{{profile.user.username}}</h5>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row">
                <!-- Tab panes -->
                <div class="tab-content">
                  <div
                    role="tabpanel"
                    class="tab-pane fade show active"
                    id="profile"
                  >
                    {% if profile.full_name %}
                    <div class="row">
                      <div class="col-md-2">
                        <b><label>Full Name</label></b>
                      </div>
                      <div class="col-md-6">
                        <p>{{profile.full_name}}</p>
                      </div>
                    </div>
                    {% endif %}

                    <div class="row">
                      <div class="col-md-2">
                        <b> <label>Email</label></b>
                      </div>
                      <div class="col-md-6">
                        <p>{{profile.user.email}}</p>
                      </div>
                    </div>

                    {% if profile.location %}
                    <div class="row">
                      <div class="col-md-2">
                        <b> <label>Location</label></b>
                      </div>
                      <div class="col-md-6">
                        <p>{{profile.location}}</p>
                      </div>
                    </div>
                    {% endif %} {% if profile.profile_info %}
                    <div class="row">
                      <div class="col-md-2">
                        <b> <label>Overview</label></b>
                      </div>
                      <div class="col-md-6">
                        <p>{{profile.profile_info}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2">
                        <b> <label>Courses</label></b>
                      </div>
                      <div class="col-md-6">
                        <p>{{courses_count}}</p>
                      </div>
                    </div>

                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock content %}
